<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/css/index.css">
    <script src="/public/assets/js/index.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <div class="topbar">
      <a href="/" class="topbar-brand">TStyle</a>
      <form class="topbar-search-form">
        <div class="form-group">
          <input type="search" class="form-control" placeholder="Search">
          <button class="btn btn-outline-success">Search</button>
        </div>
      </form>
      <div class="topbar-menu">
        <!-- <a href="javascript:void(0)" class="topbar-menu-link">Login</a>
        <a href="javascript:void(0)" class="topbar-menu-link">Log out</a> -->
        <div class="topbar-profile">
          <a href="javascript:void(0)" class="topbar-menu-link topbar-dropdown" toggle-type="dropdown" id="profile">Profile</a>
          <span class="dropdown-icon" toggle-for="profile"></span>
          <div class="topbar-dropdown-content" content-of="profile">
            <a href="#" class="dropdown-link">Settings</a>
            <a href="#" class="dropdown-link">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar" id="sidemenu">
      <div class="sidebar-toggle-icon" toggle-for="sidemenu"></div>
      <ul class="sidebar-menu">
        <li class="sidebar-item">
          <a href="#" class="menu-link">
            Home
          </a>
        </li>
        <li class="sidebar-item">
          <a href="#" class="menu-link">
            Note
          </a>
        </li>
        <li class="sidebar-item">
          <a href="#" class="menu-link">
            Todo
          </a>
        </li>
        <li class="sidebar-item">
          <a href="#" class="menu-link">
            Transaction
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>
