*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}
:root{
  --dark-blue: hsl(240, 20%, 20%);
  --white: hsl(0, 100%, 100%);
  --dark-white: hsl(0, 0%, 50%);
  --green: hsl(120, 100%, 40%);
  --transition: .5s;
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(0, 0%, 0%);
  --height: calc(100vh - 56px);
  --side-menu-toggle-top: 76px;
  --dark-screen: rgba(0, 0, 0, 0.4);
  --w-25: 25%;
  --w-50: 50%;
  --w-75: 75%;
  --w-100: 100%;
}
.topbar{
  position: fixed;
  height: 40px;
  width: calc(100vw - 16px);
  padding: 8px;
  background-color: var(--dark-blue);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid: 'brand form menu';
}
.topbar-brand{
  color: var(--white);
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: auto;
  grid-area: brand;
  align-self: center;
  display: flex;
  justify-content: flex-start;
}
.topbar-search-form{
  grid-area: form;
  align-self: center;
}
.form-group-topbar{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 5px;
}
.btn {
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: var(--transition);
}
.btn-outline-success {
  background: transparent;
  border: 1px solid var(--green);
  color: var(--green);
  cursor: pointer;
}
.btn-outline-success:hover, .btn-outline-success:active {
  background: var(--green);
  color: var(--white);
}
.form-input-topbar {
  min-width: 25em;
}
.topbar-menu{
  grid-area: menu;
  align-self: center;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.topbar-menu-link {
  color: var(--dark-white);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: var(--transition);
}
.topbar-menu-link:hover, .tobar-menu-link:active {
  color: var(--white);
}
.topbar-profile{
  display: flex;
  align-items: center;
}
.dropdown-icon{
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid grey;
  margin-left: 5px;
  transform: rotate(var(--dropdown-rotation));
  transition: var(--transition);
}
.topbar-menu-link:hover + .dropdown-icon{
  border-top: 10px solid var(--white);
}
.topbar-dropdown-content, .topbar-dropdown-content-active{
  position: fixed;
  background: transparent;
  top: 175px;
  width: 100px;
  right: 5px;
  padding: 10px;
  border-radius: 5px;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.topbar-dropdown-content > .dropdown-link, .topbar-dropdown-content-active > .dropdown-link {
  color: transparent;
  font-weight: bold;
  text-decoration: none;
  transition: var(--transition);
}
.topbar-dropdown-content-active {
  top: 75px;
  background: var(--white-2);
}
.topbar-dropdown-content-active > .dropdown-link {
  color: var(--dark-white);
}
.topbar-dropdown-content-active > .dropdown-link:hover {
  color: var(--dark);
}
.topbar-dropdown-content::after, .topbar-dropdown-content-active::after{
  position: fixed;
  display: inline-block;
  content: '';
  top: 165px;
  width: 20px;
  height: 20px;
  background: transparent;
  transform: rotate(45deg);
  right: 20px;
  transition: var(--transition);
}
.topbar-dropdown-content-active::after {
  top: 65px;
  background: var(--white-2);
}
.dropdown-list {
  list-style: none;
}
.sidebar{
  position: fixed;
  left: -250px;
  height: var(--height);
  width: 250px;
  background-color: #212529;
  top: 56px;
  transition: all var(--transition);
  overflow-y: scroll;
  scrollbar-width: none;
}
.sidebar.active{
  left: 0;
}
.menu-link{
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 20px 20px 0px 20px;
  transition: all var(--transition);
  opacity: 50%;
}
.menu-link:hover{
  font-size: 1.8rem;
  color: white;
  opacity: 100%;
  font-weight: bold;
  text-decoration: none;
  padding-left: 20px;
  margin: 20px 0px 0px 0px;
}
.sidebar-menu{
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
}
.sidebar-toggle-icon{
  margin-left: 20px;
  opacity: 0.4;
  cursor: pointer;
  transition: var(--transition);
  top: var(--side-menu-toggle-top);
  left: 5px;
  position: fixed;
  width: 35px;
  height: 5px;
  background: var(--dark);
}
.sidebar-toggle-icon::after{
  display: block;
  content: '';
  width: 35px;
  height: 5px;
  background: var(--dark);
  position: fixed;
  top: 84px;
  transition: var(--transition);
}
.sidebar-toggle-icon::before{
  display: block;
  content: '';
  width: 35px;
  height: 5px;
  background: var(--dark);
  position: fixed;
  top: 68px;
  transition: var(--transition);
}
.sidebar-toggle-icon.close{
  background: transparent;
  left: 270px
}
.sidebar-toggle-icon.close::after{
  top: 76px;
  transform: rotate(45deg);
  background: var(--white)
}
.sidebar-toggle-icon.close::before{
  top: 76px;
  transform: rotate(-45deg);
  background: var(--white)
}
.sidebar-toggle-icon:hover, .sidebar-toggle-icon:focus{
  opacity: 1;
}
.dark-screen{
  position: fixed;
  top: 0;
  right: 0;
  background: var(--dark-screen);
  width: 100vw;
  height: 100vh;
  z-index: -1;
  display: none;
}
.dark-screen.active {
  display: block;
}
.dark-screen.inactive {
  display: none;
}
.main-content{
  position: fixed;
  top: 100px;
  z-index: -2;
  --main-content-width: calc(100vw - 20px);
  width: var(--main-content-width);
  transition: var(--transition);
  padding: 10px;
  --main-content-height: calc(100vh - 120px);
  height: var(--main-content-height);
  overflow-y: scroll;
  scrollbar-width: none;
}
.main-content.side-bar-active {
  margin-left: 250px;
  width: calc(var(--main-content-width) - 250px)
}
.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 1px var(--dark-screen);
  margin: 0px 20px 20px 0px;
}
.card.img {
  padding: 8px;
}
.card-header{
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.card-img{
  box-shadow: 0px 5px 3px 1px var(--dark-screen);
  margin: 8px 0px;
  border-radius: 5px;
}
.card.w-25{
  width: var(--w-25);
}
.card.w-50{
  width: var(--w-50);
}
.card.w-75{
  width: var(--w-75);
}
.card.w-100{}
.form{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card-body{
  padding-top: 8px;
  border-top: 1px solid grey;
}
.form-group{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-input {
  padding: 3px;
  font-size: 1rem;
}
