*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

:root{
  --dark-blue: hsl(240, 20%, 20%);
  --white: hsl(0, 100%, 100%);
  --dark-white: hsl(0, 0%, 50%);
  --green: hsl(120, 100%, 40%);
  --transition: .25s;
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(0, 0%, 0%);
}

.topbar{
  position: fixed;
  height: 40px;
  width: calc(100vw - 16px);
  padding: 8px;
  background-color: var(--dark-blue);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid: 'brand form menu';
}

.topbar-brand{
  color: var(--white);
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: auto;
  grid-area: brand;
  align-self: center;
  display: flex;
  justify-content: flex-start;
}

.topbar-search-form{
  grid-area: form;
  align-self: center;
}

.form-group{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 5px;
}

.btn {
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: var(--transition);
}

.btn-outline-success {
  background: transparent;
  border: 1px solid var(--green);
  color: var(--green);
  cursor: pointer;
}

.btn-outline-success:hover, .btn-outline-success:active {
  background: var(--green);
  color: var(--white);
}

.form-control {
  min-width: 25em;
  padding: 5px;
  font-size: 1rem;
}

.topbar-menu{
  grid-area: menu;
  align-self: center;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.topbar-menu-link {
  color: var(--dark-white);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: var(--transition);
}

.topbar-menu-link:hover, .tobar-menu-link:active {
  color: var(--white);
}

.topbar-profile{
  display: flex;
  align-items: center;
}

.dropdown-icon{
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid grey;
  margin-left: 5px;
  transform: rotate(var(--dropdown-rotation));
  transition: var(--transition);
}

.topbar-menu-link:hover + .dropdown-icon{
  border-top: 10px solid var(--white);
}

.dropdown-content, .dropdown-content-active{
  position: fixed;
  background: transparent;
  top: 175px;
  width: 100px;
  right: 5px;
  padding: 10px;
  border-radius: 5px;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dropdown-content > .dropdown-link, .dropdown-content-active > .dropdown-link {
  color: transparent;
  font-weight: bold;
  text-decoration: none;
  transition: var(--transition);
}

.dropdown-content-active {
  top: 75px;
  background: var(--white-2);
}

.dropdown-content-active > .dropdown-link {
  color: var(--dark-white);
}

.dropdown-content-active > .dropdown-link:hover {
  color: var(--dark);
}

.dropdown-content::after, .dropdown-content-active::after{
  position: fixed;
  display: inline-block;
  content: '';
  top: 165px;
  width: 20px;
  height: 20px;
  background: transparent;
  transform: rotate(45deg);
  right: 20px;
  transition: var(--transition);
}

.dropdown-content-active::after {
  top: 65px;
  background: var(--white-2);
}

.dropdown-list {
  list-style: none;
}
